{% extends "base.html" %}
{% load tz %}
{% block content %}
    <link href="/static/css/cart.css"  rel="stylesheet">

<div class="container text-center">
	<div class="col-md-12 col-sm-12 text-left">
		<ol class="breadcrumb custheader">
			<li>
				Ваши заказы
			</li>
			<li>
				<a href=/management/waiting/>Ожидающие заказы</a>
			</li>
		</ol>
{% if orders %}
<div class="table-responsive">
<table class="table table-bordered table-striped tabali">
    <thread>
    <tr>
     <th>#</th>
     <th>Всего</th>
     <th>Дата</th>
     <th>Статус</th>
     <th>Самовывоз</th>
     <th>Отказаться</th>
     <th>Отменить</th>
     <th>Завершить</th>
     <th>Подробно</th>
    </tr>
    </thread>
{% for  order in orders  %}
    <tr>
     <td>{{ order.id }}</td>
     <td>{{ order.get_total }}$</td>
     <td>{{ order.timestamp|timezone:"Europe/Minsk"|date:'Y-m-d H:i' }}</td>
     <td>{{ order.status }}</td>
     <td>
{% if order.self_delivery == True %}
     <span class="glyphicon glyphicon-ok"></span>
{% elif order.self_delivery == False %}
     <span class="glyphicon glyphicon-minus"></span>
{% endif %}
	 </td>
{% if order.status == "обработка" %}
     <td><a href="/management/status/{{order.id}}/1/"><span class="glyphicon glyphicon-minus"></span></a></td>
     <td><a href="/management/status/{{order.id}}/3/"><span class="glyphicon glyphicon-remove"></span></a></td>
     <td><a href="/management/status/{{order.id}}/5/"><span class="glyphicon glyphicon-thumbs-up"></span></a></td>
{% else %}
     <td></td>
     <td></td>
     <td></td>
{% endif %}
     <td><a href="/management/detail/{{order.id}}/"><span class="glyphicon glyphicon-th-list"></span></a></td>
    </tr>
{% endfor %}
</table>
</div>
{% else %}
<h5>Нет Ваших заказов для обработки</h5>
{% endif %}
	</div>
</div>
{% endblock %}
