{% extends "base.html" %}
{% block content %}
<h3>Add order</h3>

<h5>{{ good }}</h5>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add order" />
</form>

{% endblock %}
