{% extends "base.html" %}
{% block content %}
    <link href="/static/css/cart.css"  rel="stylesheet">

<div class="container text-center">
	<div class="col-md-12 col-sm-12 text-left">
		<ol class="breadcrumb custheader">
			<li>
				История заказов
			</li>
		</ol>
{% if orders %}
<div class="table-responsive">
<table class="table table-bordered table-striped">
    <thread>
    <tr>
     <th>#</th>
     <th>Итого</th>
     <th>Дата</th>
     <th>Статус</th>
     <th>Самовывоз</th>
     <th>Изменить</th>
     <th>Отменить</th>
    </tr>
    </thread>
{% for  order in orders  %}
{% if not order.status == "unsubmited" %}
    <tr>
     <td>{{ order.id }}</td>
     <td>{{ order.get_total }}$</td>
     <td>{{ order.timestamp }}</td>
     <td>{{ order.status }}</td>
     <td>{{ order.self_delivery }}</td>
{% if order.status == "отменен пользователем" %}
     <td><a href="/cart/edit/{{order.id}}/">edit</a></td>
     <td><a href="/cart/status/{{order.id}}/1/">restore</a></td>
{% elif order.status == "ожидание" %}
     <td><a href="/cart/edit/{{order.id}}/">изменить</a></td>
     <td><a href="/cart/status/{{order.id}}/4/">отменить</a></td>
{% else %}
     <td></td>
     <td></td>
{% endif %}
    </tr>
{% endif %}
{% endfor %}
</table>
</div>
{% else %}
<h5>Вы еще ничего не заказывали</h5>
{% endif %}
	</div>
</div>
{% endblock %}
