{% extends 'catalog.html' %}
{% load staticfiles %}

{%  load amount %}

{% load thumbnail %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{% block head_title %}Магазин{% endblock %}</title>

  <!-- Bootstrap -->
   <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css"  rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <link href="{% static "css/star-rating.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-social.css" %}" rel="stylesheet">
    <link href="{% static "css/autocomplete.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
      <style>
    {% block styles %}



    {% endblock %}
    </style>


   <style type="text/css">
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}
</style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  {% block navbar %}
      {% include "navbar.html" %}
  {% endblock %}

  {% block content %}

  <div class="row">

      <div class="col-sm-3 col-md-4" style="background-color: lavender">

         <div class="panel panel-default">
             <div class="panel-heading"> Новые поступления</div>

                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                <!--     {% for product in new_products %}
                  <li data-target="#myCarousel" data-slide-to="0" class="active"  > </li>

                    {% endfor %} -->
                </ol>
        <!-- Wrapper for carousel items -->


        <div class="carousel-inner">

           {% for product in new_products  %}
             <div class="item {% if forloop.first %}active {% endif %} ">

                 {% thumbnail product.product_image "250x320" crop="center" as im %}
                   <a href="{% url 'products:detail' product.id %}"> </a> <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.title}}"/> </a>
                 {% endthumbnail %}
                <font  color="yellow"> <center> {{ product.title }} </font>  <font  color="white"> {{ product.price  }} </center> </font>
             </div>

            {% endfor %}
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

 </div>

 <div class="col-sm-6 col-md-4" style="background-color: lavender">
        <div class="panel panel-default">
          <div class="panel-heading"> Скидки</div>

    <div id="myCarousel1" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
    <!--     {% for product in sale_products %}
            <li data-target="#myCarousel" data-slide-to="0" class="active"  > </li>

        {% endfor %} -->
        </ol>
        <!-- Wrapper for carousel items -->


        <div class="carousel-inner">

           {% for product in sale_products  %}
             <div class="item {% if forloop.first %}active {% endif %} ">

                 {% thumbnail product.product_image "250x320" crop="center" as im %}
                   <a href="{% url 'products:detail' product.id %}"> </a> <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.title}}"/> </a>
                 {% endthumbnail %}
                <font color="yellow"> <center>{{ product.title }} </font>  <font  color="red"> {{ product.sale_price  }} </font> <del>  <font  color="white"> {{ product.price }} </center> </font>  </del>
             </div>

            {% endfor %}
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel1" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel1" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
 </div>
  <div class="col-sm-9 col-md-4" style="background-color: lavender">
        <div class="panel panel-default">
          <div class="panel-heading"> Рейтинг</div>

    <div id="myCarousel1" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
    <!--     {% for product in sale_products %}
            <li data-target="#myCarousel" data-slide-to="0" class="active"  > </li>

        {% endfor %} -->
        </ol>
        <!-- Wrapper for carousel items -->


        <div class="carousel-inner">

           {% for product in best_products  %}
             <div class="item {% if forloop.first %}active {% endif %} ">

                 {% thumbnail product.product_image "250x320" crop="center" as im %}
                   <a href="{% url 'products:detail' product.id %}"> </a> <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.title}}"/> </a>
                 {% endthumbnail %}
                <font  color="yellow"> <center>{{ product.title }} </font>  <font  color="white"> Рейтинг: {{ product.product_rating  }} </font>  <font  color="red"> Цена:{{ product.price }} </center> </font>
             </div>

            {% endfor %}
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel1" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel1" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
 </div>

 </div>







  <nav class="navbar navbar-inverse" role="navigation" id="categories-navbar">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#categories-navbar-collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>




 <div class="collapse navbar-collapse" id="categories-navbar-collapse">
                        <ul class="nav navbar-nav">


             {% for productcategory in categorys %}

             {% if sublev != 'No results' %}
             <li>
               <a href="{% url 'listcat' productcategory.catslug %}"><span class="glyphicon glyphicon-th-list"></span> {{  productcategory.category_product_name  }}

               </a></li>

            {% endif %}

             {% if sublev == 'No results' %}
             <li>
               <a href="{% url 'listcat' productcategory.catslug %}search/{{ querysea  }}"><span class="glyphicon glyphicon-th-list"></span> {{  productcategory.category_product_name  }}

               </a></li>

            {% endif %}



              {% if productcategory == mainlev %}

              <li>
              <a href="/products/all/"><span class="glyphicon glyphicon-chevron-right"></span> Возврат в каталог </a></li>

              {% endif %}


                {% endfor %}
              </ul>
           </div>
 </nav>


  {% block sidebar %}



  {% endblock %}


{% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js"%}"></script>
  </body>
</html>