{% load staticfiles %}

{%  load amount %}

{% load thumbnail %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{% block head_title %}Магазин{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
      <style>
    {% block styles %}
    {% endblock %}
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <style type="text/css">
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}
</style>
  </head>
  <body>
  {% block navbar %}
      {% include "navbar.html" %}
  {% endblock %}

  {% block content %}

   <nav class="navbar navbar-inverse" role="navigation" id="categories-navbar">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#categories-navbar-collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>


 <div class="collapse navbar-collapse" id="categories-navbar-collapse">
     <ul class="nav navbar-nav">


       {% for productcategory in categorys %}

             {% if sublev != 'No results' %}
             <li>
               <a href="{% url 'listcat' productcategory.catslug %}"><span class="glyphicon glyphicon-th-list"></span> {{  productcategory.category_product_name  }}

               </a></li>

            {% endif %}

             {% if sublev == 'No results' %}
             <li>
               <a href="{% url 'listcat' productcategory.catslug %}search/{{ querysea  }}"><span class="glyphicon glyphicon-th-list"></span> {{  productcategory.category_product_name  }}

               </a></li>

            {% endif %}



              {% if productcategory == mainlev %}

              <li>
              <a href="/products/all/"><span class="glyphicon glyphicon-chevron-right"></span> Возврат в каталог </a></li>

              {% endif %}


                {% endfor %}
              </ul>
     </div>
 </nav>

<div class="row">

{%  if top == 'ok' %}


   <div class="col-sm-3 ">

     <!-- Wrapper for slides -->

  <div class="panel panel-default">
     <div class="panel-heading"> Новинки</div>

         <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
    <!--     {% for product in new_products %}
            <li data-target="#myCarousel" data-slide-to="0" class="active"  > </li>

        {% endfor %} -->
        </ol>
        <!-- Wrapper for carousel items -->


        <div class="carousel-inner">

           {% for product in new_products  %}
             <div class="item {% if forloop.first %}active {% endif %} ">

                 {% thumbnail product.product_image "200x270" crop="center" as im %}
                   <a href="{% url 'products:detail' product.id %}"> </a> <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.title}}"/> </a>
                 {% endthumbnail %}
                <font  color="yellow"> <center> {{ product.title }}</center> </font>  <font  color="white"> <center> {{ product.price  }} </center> </font>
             </div>

            {% endfor %}
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

   <div class="panel panel-default">
          <div class="panel-heading"> Скидки</div>

    <div id="myCarousel1" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
    <!--     {% for product in sale_products %}
            <li data-target="#myCarousel" data-slide-to="0" class="active"  > </li>

        {% endfor %} -->
        </ol>
        <!-- Wrapper for carousel items -->


        <div class="carousel-inner">

           {% for product in sale_products  %}
             <div class="item {% if forloop.first %}active {% endif %} ">

                 {% thumbnail product.product_image "200x270" crop="center" as im %}
                   <a href="{% url 'products:detail' product.id %}"> </a> <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.title}}"/> </a>
                 {% endthumbnail %}
                <font  color="yellow"> <center> {{ product.title }} </center> </font>  <font  color="red"><center> {{ product.sale_price}}</center> </font> <del>  <font  color="white"><center> {{ product.price }} </center>  </font>  </del>
             </div>

            {% endfor %}
          </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel1" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel1" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

</div>

   {% endif %}

        <div class="col-sm-3">

              {% for levproductcategory in subcategorys %}


                      {% if levproductcategory == mainsublev %}

                           <ul class="nav nav-pills nav-stacked ">

                       {% endif %}

                        {% if levproductcategory != mainsublev %}

                           <ul class="nav nav-stacked ">

                       {% endif %}


                       {% if  levproductcategory.product_category == mainlev %}


                       {% if  sublev != 'No results'  %}
                        <li class="active"> <a href="{% url 'list' levproductcategory.levslug %}"><i class="glyphicon glyphicon-triangle-right"></i>

                         {{ levproductcategory.levcategory_product_name }}  <span class="badge"> {%  get_amount levproductcategory products %} </span>   </a></li>

                       {% endif %}

                       {% if sublev == 'No results'  %}
                        <li class="active"> <a href="{% url 'list' levproductcategory.levslug %} ">  <i class="glyphicon glyphicon-triangle-right"></i>

                            {{ levproductcategory.levcategory_product_name }}  <span class="badge"> {%  get_amount levproductcategory products  %} </span> </a></li>

                       {% endif %}

                        {% endif %}

                      </ul>

                   {% endfor %}




   {% if filter == 'search' %}



       <div class="panel panel-default">
          <div class="panel-heading">Брэнды</div>
          <div class="panel-body">

         {% for brand in brands %}

        <ul class="nav nav-stacked ">

          <li class="disabled"> <a href="/products//{{ brand.producer_product_name}}/"><i class="glyphicon glyphicon-triangle-right"></i>

              {{ brand.producer_product_name }}  <span class="badge"> {%  get_brandamount brand products  %} </span>   </a></li>

          </ul>

       {% endfor %}

         </div>
       </div>

    {% endif %}


    {% if filter == 'ok' %}


       <div class="panel panel-default">
          <div class="panel-heading">Брэнды</div>
          <div class="panel-body">

         {% for brand in brands %}

            <ul class="nav nav-stacked ">


           <li class="active"> <a href="{{brand.producer_product_name }}/"><i class="glyphicon glyphicon-triangle-right"></i>

              {{ brand.producer_product_name }}  <span class="badge"> {%  get_brandamount brand products  %} </span>   </a></li>

          </ul>

         {% endfor %}

      </div>
     </div>


    {% endif %}

     {% if filter == 'active' %}

      <div class="panel panel-default">
          <div class="panel-heading">Брэнды</div>
          <div class="panel-body">

         {% for brand in brands %}

            <ul class="nav nav-stacked ">


           <li class="disabled"> <a href="{{brand.producer_product_name }}/"><i class="glyphicon glyphicon-triangle-right"></i>

              {{ brand.producer_product_name }}  <span class="badge"> {%  get_brandamount brand products  %} </span>   </a></li>

          </ul>

         {% endfor %}

      </div>


     </div>

    {% endif %}
</div>


   <div class="col-sm-9">


    {% if items|length > 0  %}

        {% if sublev == 'No results' and sublev != 'Catalog'  %}

             <div class="well well-sm"> Результаты поиска: на запрос: {{ querysea }} </div>

        {% endif %}

         {% if sublev != 'No results' and sublev != 'Catalog' and filter == 'ok'  %}

         <div class="well well-sm"> Раздел товара:  {{ sublev }}  </div>

          {% endif %}

         {% if sublev == 'Catalog' %}

         <div class="well well-sm"> Общий каталог товаров интернет-магазина: Все товары по категориям  </div>

          {% endif %}

        {% if sublev != 'No results' and sublev != 'Catalog' and filter == 'active'  %}

         <div class="well well-sm"> Раздел товара:  {{ sublev }}  <a class="badge"  href="{% url 'list' mainsublev.levslug %} "> {{ brand }} *</a>



         </div>

          {% endif %}



    {% endif %}


    <div id="product">

               {% for product in page_obj  %}

                  {% if product.product_levcategory.product_category.category_product_name == namecat  %}

                       {{  product.product_levcategory.product_category.category_product_name }}

                   {% endif%}


                    <div class="col-sm-9 col-md-4">
                        <div class="thumbnail">

                             {% thumbnail product.product_image "220x180" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{  product.title}}" >
                             {% endthumbnail %}
                                <div class="caption">
                                <h5>  {{ product.title   }}   </h5>

                              <form action="/cart/add/{{product.id }}/ " method="post">
                             {% csrf_token %}
                                  <center>

                                 <a href="{% url 'products:detail' product.id %} " class=" btn btn-default " aria-label="Center Align" >О товаре <span class="glyphicon glyphicon-check" > </span> </a>

                            <input type="submit" value="В корзину {{ product.price }}"class=" btn-sm btn-primary "   >
                              </center>

                              </form>

                                  <p> </p>
                                  <p> Производитель :  {{ product.product_producer }}  </p>

                                 </div>
                         </div>

                     </div>



               {% endfor %}

    </div>

   </div>

</div>

     <div class="row">

     <div class="col-md-12 text-center">


    <ul class="pagination pagination-centered">
        {% if page_obj.has_previous %}
            <li><a href="?page=1"><<</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
        {% endif %}

        {% for i in paginator.page_range %}
            <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
        {% endif %}
    </ul>



  </div>

    </div>

     </div>

    </div>

 {% block sidebar %}


  {% endblock %}


{% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js"%}"></script>
  </body>
</html>