{% extends "base.html" %}
{% block content %}
{% if orderslist %}
<h4>{{ orderslist }}</h4>
{% endif %}

<table style="width:100%">
    <tr>
     <td><strong>Order</strong></td>
     <td><strong>Price</strong></td>
     <td><strong>Ammount</strong></td>
     <td><strong>Total</strong></td>
     <td><strong>Date</strong></td>
     <td><strong>Status</strong></td>
     <td><strong>Delivery adress</strong></td>
     <td><strong>Comfortable delivery time</strong></td>
     <td><strong>Contact phone</strong></td>
     <td><strong>Edit</strong></td>
     <td><strong>Cancel</strong></td>
    </tr>
{% if  orders  %}
{% for  order in orders  %}
    <tr>
     <td><a href="/product/{{order.good.id}}/">{{ order.good }}</a></td>
     <td>{{ order.fixed_price }}$</td>
     <td>{{ order.ammount }}</td>
     <td>{{ order.get_total }}$</td>
     <td>{{ order.timestamp }}</td>
     <td>{{ order.status }}</td>
     <td>{{ order.delivery_adress }}</td>
     <td>{{ order.delivery_time }}</td>
     <td>{{ order.contact_phone }}</td>
{% if order.status == "cancelled by user" %}
     <td><a href="/cart/edit/{{order.id}}/">edit</a></td>
     <td><a href="/cart/status/{{order.id}}/0/">restore</a></td>
{% elif order.status == "waiting" %}
     <td><a href="/cart/edit/{{order.id}}/">edit</a></td>
     <td><a href="/cart/status/{{order.id}}/3/">cancel</a></td>
{% endif %}
    </tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}


