{% extends "base.html" %}

<ul>
   <li class="levcategories">
       <h2>Категории:</h2>
       <ul>
           {% for levcategory in levcategories %}
           <li class="levcategory">
              // выводим список ссылок на категории
              <a href="{% url 'levcategory' levcategory.id%}">{{ levcategory }}</a>
           </li>
           {% endfor %}
       </ul>
   </li>
</ul>